*.class
#packpage file
*.war
*.ear

#kdiff3 ingore
*.orig

#maven ignore

target/
# ecplice ingore
.settings/
.project
.classpatch

#idea ignore
.idea/
/idea/
*.ipr
*.iml
*.iws
#tem file
*.log
*diff
*path
*tem
#system ingore
.Ds_Store
Thumbs.db
!/src/main/java/
/out/

!/src/

/.settings/
!/src/main/java/com/qroxy/vo/
/src/main/Resources/zfbinfo.properties
